Package: de.j-gessner.safemodeflipswitch
Name: Safe Mode Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch, firmware (>= 5.0)
Version: 0.9
Architecture: iphoneos-arm
Description: Safe Mode Toggle for Flipswitch.
Author: Jonas Gessner
Section: Addons (Flipswitch)